* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #34495E;
}
.header .container-fluid{
  min-height: 50vh;
  background-image: url('./assets/images/rickandmorty.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
}

.header .container-fluid >.row{
  min-height: 50vh;
}
.residents-container .card{
  flex-direction: row;
  height: 90%;
}

.card img{
  max-width: 50%;
}
