* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
}
.header .container-fluid{
  min-height: 50vh;
  background: url(./assets/images/rickandmorty.jpg) center no-repeat;
  background-size: cover;
  padding: 1rem;
}
.residents-container .card{
  flex-direction: row;
  height: 90%;
}

.card img{
  max-width: 50%;
}
